@use '../1-bases/variables';

.button{
  background: variables.$primary;
  color: variables.$light;
  height: 5.6rem;
  display: inline-flex;
  align-items: center;
  padding: 0 3.2rem;
  border-radius: .4rem;
  gap: 1.8rem;
  font-weight: 500;
  opacity: .9;
  transition: all .3s ease-in-out;
  &:hover{
    opacity: 1;
  }
}