@use '../1-bases/variables';

.divider-1{
  height: 1px;
  background: linear-gradient(270deg, variables.$primary 0%, rgba(204, 244, 230, .34 ) 100%);
}
.divider-2{
  height: 1px;
  background: linear-gradient(270deg, rgba(204, 244, 230, .34) 0%, variables.$primary 100%);
}
