{{ >partials/header }}

  <div class="container list">
  </div>

  <div class="container no-list">
    <h2>Página não encontrada</h2>
    <a href="./" type="button" class="button">Voltar para o inicio</a>
  </div>

{{ >partials/footer }}