@use '../1-bases/variables';

.footer{
  background: variables.$primary;
}
.footer.section{
  padding: 6.2rem 0;
}
.footer .logo{
  display: inline-block;
  font-size: 3.2rem;
  margin-bottom: 2.4rem;
}
.footer p{
  color: variables.$bg;
  line-height: 4rem;
}
.footer .social-links ul{
  display: flex;
  align-items: center;
  gap: 1.6rem;
  transition: all .3s ease-in-out;
}
.footer .social-links ul li a {
  display: flex;
  padding: 8px;
}
.footer .social-links ul li a i{
  color: variables.$bg;
  font-size: 2.4rem;
}