@use '../1-bases/variables';

nav{
  height: variables.$header-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
nav ul li{
  text-align: center;
}
nav ul li a{
  transition: all .3s ease-in-out;
  position: relative;
}
nav ul li a:hover,
nav ul li a.active{
  color: variables.$primary;
  font-weight: 700;
}
nav ul li a:hover::after,
nav ul li a.active::after{
  transform: scaleX(1);
  transform-origin: bottom left;
}
nav ul li a::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: variables.$primary;
  position: absolute;
  left: 0;
  bottom: -2.4rem;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
nav .menu{
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: all .2s ease-in-out;
}
nav .menu ul{
  display: none;
}
nav.show .menu{
  opacity: 1;
  visibility: visible;
  background: variables.$bg;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
}
nav.show .menu ul{
  display: grid;
}
nav.show ul.grid{
  gap: 6.4rem;
}
.toggle{
  color: variables.$primary;
  font-size: 2.4rem;
  cursor: pointer;
}
nav .icon-close{
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: -2.4rem;
  right: 2.4rem;
  transition: all .3s ease-in-out;
}
nav.show div.icon-close{
  opacity: 1;
  visibility: visible;
  top: 2.4rem;
}